# Node
node_modules/
npm-debug.log
yarn-error.log
images/
# Backend
backend/uploads/
backend/.env
backend/prisma/*.db
backend/prisma/*.db-journal

# Frontend
frontend/dist/
frontend/.env

# Sistema
.DS_Store
*.log
